#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 12, 12, 0.4);
  }
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }
  #navbar ul {
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #navbar li {
    color: #757680;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #757680;
    text-decoration: none;
    cursor: pointer;
  }

  body{
    background-color: #fff;
    color: black;
    font-family: sans-serif;
  }

  section {
    color: #4d4d4d;
    margin: 16px;
    font-size: 14px ;
  }
  main #main-doc{
    position: relative;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 110;
  }
code{
  position: relative;
  white-space: pre-line;
  word-wrap: normal;
  line-height: 2;
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 14px;
  border-radius: 5px;
}